name: Maven Build + Trivy + Gitleaks Security Scan

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    name: Build Maven Project
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B clean install

      - name: Run Unit Tests
        run: mvn test


  trivy-scan:
    name: Trivy Vulnerability Scan
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Trivy
        uses: aquasecurity/setup-trivy@v0.4.0

      - name: File System Scan
        run: trivy fs --exit-code 0 --severity HIGH,CRITICAL .

      - name: Build Artifact Scan

